<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="BasicUtils.CustomTestListener" />
    </listeners>

    <test verbose="2" preserve-order="true" name="FMS Test">

        <classes>
            <class name="BasicUtils.TestngAnnotatedMethods"/>
            <class name="Books.T1"/>
        </classes>

    </test>

</suite>